/* --- Estilos da Barra de Busca e Autocomplete --- */

#search-wrapper {
    position: relative;
    padding: 10px;
    max-width: 100vw;
    box-sizing: border-box;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 100vw;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 250px;
    overflow-y: auto;
    max-width: 100vw;
    box-sizing: border-box;
}
@media (max-width: 770px) {
  #search-wrapper {
    padding: 6px 2vw 6px 2vw;
    max-width: 100vw;
  }
  body{
    margin: 0;
  }
  #search-input {
    font-size: 15px;
    padding: 8px;
    max-width: 96vw;
  }
  .autocomplete-items {
    left: 0;
    right: 0;
    max-width: 96vw;
  }
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 0 10px;
}
